<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terminal</title>
</head>
<body style="text-align: center">
    <p>Hi {{user|title}}</p>
    {%for message in newMessage%}
    {%if link%}
        <a target="_blank" rel="noopener noreferrer" href="{{message}}"> {{message}} </a>
    {%else%}
        <p> {{message}} </p>
    {%endif%}
    {%endfor%}
    <style>
        @media only screen and (max-device-width: 767px) { [data-type="control_dropdown"] .form-input,
         [data-type="control_dropdown"] .form-input-wide { width: 100% !important; }}
    </style>
    <form action="/terminal" method="post">
        {% if box %}
        <textarea name="msg" row="20" cols="50" autofocus required></textarea><br>
        {%else%}
        <input name="msg" type="text" autofocus required>
        {%endif%}
        <input type="submit">
    </form>
    <p>Below are your possible commands at this stage. Use one, then respond naturally or use another command on next page</p>
    <br><br><br><br>
    {%for command in commands%}
        <p>{{command|safe}}</p>
    {%endfor%}
    </ul>
</body>
</html>